extends layout

block content

    h1 Favorites for user&nbsp;
        span(style="font-style:italic") #{twitter.displayName}

    if error
        p #{msg}
        p #{error}
    if favorites.length != 0
        - var i = 0
        each fav in favorites

            .favitem
                form(action="favorites/delfave" method="post")
                    a(href="#{fav.apodurl}")
                        img.favimage(src="#{fav.url}")
                    p.favtitle #{fav.title}
                    p.favdate #{fav.date}
                    input(type="hidden" value="#{fav.url}" name="favUrl")
                    button(id="button_#{i}" value="a delete button") Delete this favorite
                - i++
    else
        p No favorites saved yet.

    include buttons


